# SPDX-License-Identifier: (GPL-2.0+ OR MIT)

#
# TX_CONNECTOR
#
menu "Amlogic TX_CONNECTOR Common Module"

config AMLOGIC_TX_CONNECTOR_COMMON_MODERN
	bool "AMLOGIC TX_CONNECTOR common"
	default n
	help
	This option is used to configure Amlogic drivers
        of the tx_connector common software part

source "$(COMMON_DRIVERS_DIR)/drivers/media/vout/meson_tx_connector/hdmitx/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/media/vout/meson_tx_connector/dptx/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/media/vout/meson_tx_connector/hdcp/Kconfig"
#source "$(COMMON_DRIVERS_DIR)/drivers/media/vout/meson_tx_connector/phy/Kconfig"
#source "$(COMMON_DRIVERS_DIR)/drivers/media/vout/meson_tx_connector/venc/Kconfig"
#source "$(COMMON_DRIVERS_DIR)/drivers/media/vout/meson_tx_connector/clk/Kconfig"

endmenu
