CONFIG_KASAN=y
CONFIG_KASAN_GENERIC=y
CONFIG_FORTIFY_SOURCE=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
CONFIG_RANDOMIZE_BASE=n
CONFIG_KASAN_OUTLINE=n
CONFIG_SHADOW_CALL_STACK=n
CONFIG_KVM=n
CONFIG_KALLSYMS_ALL=n
CONFIG_DEBUG_INFO_NONE=y
