# SPDX-License-Identifier: (GPL-2.0+ OR MIT)

# amlogic-gkitool.ko
CONFIG_AMLOGIC_GKI_TOOL=y
CONFIG_AMLOGIC_CLASS_DEBUG=y

# amlogic-debug-iotrace.ko
CONFIG_AMLOGIC_DEBUG_IOTRACE=y
CONFIG_AMLOGIC_DEBUG_IOTM=y

# amlogic-uart.ko
CONFIG_AMLOGIC_SERIAL_MESON=y
CONFIG_AMLOGIC_SERIAL_MESON_CONSOLE=y

# amlogic-hwspinlock.ko
CONFIG_AMLOGIC_HWSPINLOCK=y

# amlogic-debug.ko
CONFIG_AMLOGIC_DEBUG=y
CONFIG_AMLOGIC_DEBUG_HLD=y
CONFIG_AMLOGIC_DEBUG_ATRACE=y
CONFIG_AMLOGIC_DEBUG_TEST=n
CONFIG_AMLOGIC_DEBUG_FILE=n
CONFIG_AMLOGIC_GKI_CONFIG=y
CONFIG_AMLOGIC_UBOOT_LOG=y
CONFIG_AMLOGIC_DEBUG_PRINTK=y

# amlogic-secmon.ko
CONFIG_AMLOGIC_SECMON=y
CONFIG_AMLOGIC_DOLBY_FW=y

# user_fault.ko
CONFIG_AMLOGIC_USER_FAULT=y

# amlogic-memory-debug.ko
CONFIG_AMLOGIC_MEMORY_DEBUG=y

# clk-scmi.ko
CONFIG_COMMON_CLK_SCMI=y

# amlogic-clk.ko
CONFIG_AMLOGIC_COMMON_CLK=y
CONFIG_AMLOGIC_COMMON_CLK_MESON_AO_CLKC=y
CONFIG_AMLOGIC_COMMON_CLK_MESON_CPU_DYNDIV=y
CONFIG_AMLOGIC_COMMON_CLK_MESON_DUALDIV=y
CONFIG_AMLOGIC_COMMON_CLK_MESON_EE_CLKC=y
CONFIG_AMLOGIC_COMMON_CLK_MESON_MPLL=y
CONFIG_AMLOGIC_COMMON_CLK_MESON_PHASE=y
CONFIG_AMLOGIC_COMMON_CLK_MESON_PLL=y
CONFIG_AMLOGIC_COMMON_CLK_MESON_REGMAP=y
CONFIG_AMLOGIC_COMMON_CLK_MESON_SCLK_DIV=y
CONFIG_AMLOGIC_COMMON_CLK_MESON_VID_PLL_DIV=y
CONFIG_AMLOGIC_COMMON_CLK_MESON_CLKC_UTILS=y
CONFIG_AMLOGIC_MESON_CLK_MEASURE=y
CONFIG_AMLOGIC_CLK_DEBUG=y
CONFIG_AMLOGIC_BYPASS_CCF_CLK=y

# amlogic-clk-soc-s4.ko
CONFIG_AMLOGIC_COMMON_CLK_S4=y

# amlogic-clk-soc-sc2.ko
CONFIG_AMLOGIC_COMMON_CLK_SC2=y

# amlogic-clk-soc-t3.ko
CONFIG_AMLOGIC_COMMON_CLK_T3=y

# amlogic-clk-soc-t7.ko
CONFIG_AMLOGIC_COMMON_CLK_T7=y

# amlogic-clk-soc-t5m.ko
CONFIG_AMLOGIC_COMMON_CLK_T5M=y

# amlogic-clk-soc-g12a.ko
CONFIG_AMLOGIC_COMMON_CLK_G12A=y

# amlogic-clk-soc-s5.ko
CONFIG_AMLOGIC_COMMON_CLK_S5=y

# amlogic-clk-soc-t5w.ko
CONFIG_AMLOGIC_COMMON_CLK_T5W=y

# amlogic-clk-soc-t6d.ko
CONFIG_AMLOGIC_COMMON_CLK_T6D=y

# amlogic-clk-soc-t6w.ko
CONFIG_AMLOGIC_COMMON_CLK_T6W=y

# amlogic-clk-soc-t6x.ko
CONFIG_AMLOGIC_COMMON_CLK_T6X=y

# amlogic-clk-soc-s7.ko
CONFIG_AMLOGIC_COMMON_CLK_S7=y

# amlogic-clk-soc-s6.ko
CONFIG_AMLOGIC_COMMON_CLK_S6=y

# amlogic-clk-soc-t3x.ko
CONFIG_AMLOGIC_COMMON_CLK_T3X=y

# amlogic-clk-soc-s7d.ko
CONFIG_AMLOGIC_COMMON_CLK_S7D=y

# amlogic-gpio.ko
CONFIG_AMLOGIC_GPIO=y
CONFIG_AMLOGIC_GPIOLIB=y
CONFIG_AMLOGIC_GPIOLIB_SYSFS=y
CONFIG_AMLOGIC_GPIO_DEBUG=y
CONFIG_AMLOGIC_MESON_IRQ_GPIO=y
CONFIG_AMLOGIC_PINCTRL_MESON=y

# amlogic-pinctrl-soc-s4.ko
CONFIG_AMLOGIC_PINCTRL_MESON_S4=y

# amlogic-pinctrl-soc-sc2.ko
CONFIG_AMLOGIC_PINCTRL_MESON_SC2=y

# amlogic-pinctrl-soc-t3.ko
CONFIG_AMLOGIC_PINCTRL_MESON_T3=y

# amlogic-pinctrl-soc-t7.ko
CONFIG_AMLOGIC_PINCTRL_MESON_T7=y

# amlogic-pinctrl-soc-t5m.ko
CONFIG_AMLOGIC_PINCTRL_MESON_T5M=y

# amlogic-pinctrl-soc-g12a.ko
CONFIG_AMLOGIC_PINCTRL_MESON_G12A=y

# amlogic-pinctrl-soc-s5.ko
CONFIG_AMLOGIC_PINCTRL_MESON_S5=y

# amlogic-pinctrl-soc-t5w.ko
CONFIG_AMLOGIC_PINCTRL_MESON_T5W=y

# amlogic-pinctrl-soc-t3x.ko
CONFIG_AMLOGIC_PINCTRL_MESON_T3X=y

# amlogic-pinctrl-soc-tm2.ko
CONFIG_AMLOGIC_PINCTRL_MESON_TM2=y

# amlogic-pinctrl-soc-s7.k
CONFIG_AMLOGIC_PINCTRL_MESON_S7=y

# amlogic-pinctrl-soc-s7d.ko
CONFIG_AMLOGIC_PINCTRL_MESON_S7D=y

# amlogic-pinctrl-soc-s6.ko
CONFIG_AMLOGIC_PINCTRL_MESON_S6=y

# amlogic-pinctrl-soc-t6d.ko
CONFIG_AMLOGIC_PINCTRL_MESON_T6D=y

# amlogic-pinctrl-soc-t6w.ko
CONFIG_AMLOGIC_PINCTRL_MESON_T6W=y

# amlogic-pinctrl-soc-t6x.ko
CONFIG_AMLOGIC_PINCTRL_MESON_T6X=y

# amlogic-mailbox.ko
CONFIG_AMLOGIC_MHU_MBOX=y

# amlogic-pwm.ko
CONFIG_AMLOGIC_PWM=y
CONFIG_AMLOGIC_PWM_MESON=y
CONFIG_AMLOGIC_PWM_MESON_TEE=y

# amlogic-regulator.ko
CONFIG_AMLOGIC_REGULATOR=y
CONFIG_AMLOGIC_REGULATOR_PWM=y
CONFIG_AMLOGIC_REGULATOR_PWM_MODIFY=y

# amlogic-reset.ko
CONFIG_AMLOGIC_RESET_MESON=y
CONFIG_AMLOGIC_DOS_RESET_MESON=y

# amlogic-power.ko
CONFIG_AMLOGIC_POWER=y

# amlogic-cpuinfo.ko
CONFIG_AMLOGIC_CPU_INFO=y
CONFIG_AMLOGIC_SHOW_CPU_CHIPID=y

# amlogic-cpufreq.ko
CONFIG_AMLOGIC_MESON_CPUFREQ=y

# amlogic-thermal.ko
CONFIG_AMLOGIC_AMLOGIC_THERMAL=y
CONFIG_AMLOGIC_COOLDEV=y
CONFIG_AMLOGIC_GPU_THERMAL=y
CONFIG_AMLOGIC_DDR_THERMAL=y

# amlogic-mmc.ko
CONFIG_AMLOGIC_MMC_MESON_GX=y
CONFIG_AMLOGIC_MMC_CQHCI=y
CONFIG_AMLOGIC_MMC_CRYPTO=y

# amlogic-efuse-unifykey.ko
CONFIG_AMLOGIC_EFUSE_UNIFYKEY=y
CONFIG_AMLOGIC_EFUSE=y
CONFIG_AMLOGIC_EFUSE_BURN=y
CONFIG_AMLOGIC_UNIFYKEY=y
CONFIG_AMLOGIC_DEFENDKEY=y

# amlogic-i2c.ko
CONFIG_AMLOGIC_I2C=y
CONFIG_AMLOGIC_I2C_MESON=y
CONFIG_AMLOGIC_I2C_MESON_T6W=y
CONFIG_AMLOGIC_I2C_MESON_V2=y
CONFIG_I2C_CHARDEV=m

# amlogic-spi.ko
CONFIG_AMLOGIC_SPI=y
CONFIG_AMLOGIC_SPI_MESON_SPICC=y
CONFIG_AMLOGIC_SPI_MESON_SPICC_V2=y
CONFIG_AMLOGIC_SPI_MESON_SPIFC=y
CONFIG_AMLOGIC_SPI_MESON_SPICC_SLAVE=y

# amlogic-rng.ko
CONFIG_AMLOGIC_HW_RANDOM_MESON=y

# tee.ko
CONFIG_AMLOGIC_AMLTEE=y

# optee.ko
CONFIG_AMLOGIC_OPTEE=y

# amlogic-tee.ko
CONFIG_AMLOGIC_TEE=y

# aml_smmu.ko
CONFIG_AMLOGIC_FAKE_SMMU=y

# dvb-core.ko
CONFIG_AMLOGIC_DVB_CORE=y

# amlogic-pm.ko
CONFIG_AMLOGIC_PM=y
CONFIG_AMLOGIC_GX_SUSPEND=y
CONFIG_AMLOGIC_LEGACY_EARLY_SUSPEND=y
CONFIG_AMLOGIC_GX_REBOOT=y

# amlogic-adc.ko
CONFIG_AMLOGIC_ADC=y
CONFIG_AMLOGIC_MESON_SARADC=y
CONFIG_AMLOGIC_SARADC_COMMON=y
CONFIG_AMLOGIC_SARADC=y
CONFIG_AMLOGIC_PDD=y

# amlogic-input.ko
CONFIG_AMLOGIC_INPUT=y
CONFIG_AMLOGIC_GPIO_KEY=y
CONFIG_AMLOGIC_ADC_KEYPADS=y
CONFIG_AMLOGIC_MESON_IR=y
CONFIG_AMLOGIC_INPUT_FILTER=y

# amlogic-watchdog.ko
CONFIG_AMLOGIC_MESON_GXBB_WATCHDOG=y

# amlogic-snd-vad.ko
CONFIG_AMLOGIC_SND_SOC_AUGE_VAD=y

# aml_uvm.ko
CONFIG_AMLOGIC_UVM=y
CONFIG_AMLOGIC_UVM_CORE=y
CONFIG_AMLOGIC_UVM_ALLOCATOR=y

# amlogic-dvb.ko
CONFIG_AMLOGIC_DVB_CONFIG=y
CONFIG_AMLOGIC_DVB_EXTERN=y
CONFIG_AMLOGIC_AUCPU=y
CONFIG_AMLOGIC_DVB_DSM=y
CONFIG_AMLOGIC_SMARTCARD=y

# aml_media.ko
CONFIG_AMLOGIC_MEDIA_MODULE=y
