CONFIG_ARCH_MESON_ODROIDC5=y

# led trigger
CONFIG_LEDS_TRIGGER_ONESHOT=m
CONFIG_LEDS_TRIGGER_HEARTBEAT=m
CONFIG_LEDS_TRIGGER_BACKLIGHT=m
CONFIG_LEDS_TRIGGER_CPU=m
CONFIG_LEDS_TRIGGER_ACTIVITY=m
CONFIG_LEDS_TRIGGER_GPIO=m
CONFIG_LEDS_TRIGGER_DEFAULT_ON=m

# gpiomem
CONFIG_AMLOGIC_GPIOMEM=m

CONFIG_SPI_SPIDEV=m
CONFIG_USB_ACM=m
# CONFIG_AMLOGIC_SND_SOC_AD82128 is not set
# CONFIG_AMLOGIC_SND_SOC_AD82584F is not set
# CONFIG_AMLOGIC_SND_SOC_PA1 is not set
# CONFIG_AMLOGIC_SND_SOC_SY6026L is not set
# CONFIG_AMLOGIC_SND_SOC_TAS5707 is not set
# CONFIG_AMLOGIC_SND_SOC_TAS5805 is not set
# CONFIG_AMLOGIC_SND_SOC_TAS5805m is not set
