CONFIG_ARCH_MESON_ODROIDC5=y

# dht11
CONFIG_DHT11=m

# 1-wire
CONFIG_W1=m

# 1-wire Bus Masters
CONFIG_W1_MASTER_GPIO=m

# 1-wire Slaves
CONFIG_W1_SLAVE_THERM=m

# led trigger
CONFIG_LEDS_TRIGGER_ONESHOT=m
CONFIG_LEDS_TRIGGER_HEARTBEAT=m
CONFIG_LEDS_TRIGGER_BACKLIGHT=m
CONFIG_LEDS_TRIGGER_CPU=m
CONFIG_LEDS_TRIGGER_ACTIVITY=m
CONFIG_LEDS_TRIGGER_GPIO=m
CONFIG_LEDS_TRIGGER_DEFAULT_ON=m

# gpiomem
CONFIG_AMLOGIC_GPIOMEM=m

CONFIG_SPI_SPIDEV=m
CONFIG_USB_ACM=m

# can
CONFIG_CAN_MCP251X=m
CONFIG_CAN_MCP251XFD=m

# shtc1
CONFIG_HWMON=m
CONFIG_SENSORS_SHTC1=m

CONFIG_TINYDRM_ILI9341=m
# CONFIG_AMLOGIC_SND_SOC_AD82128 is not set
# CONFIG_AMLOGIC_SND_SOC_AD82584F is not set
# CONFIG_AMLOGIC_SND_SOC_PA1 is not set
# CONFIG_AMLOGIC_SND_SOC_SY6026L is not set
# CONFIG_AMLOGIC_SND_SOC_TAS5707 is not set
# CONFIG_AMLOGIC_SND_SOC_TAS5805 is not set
# CONFIG_AMLOGIC_SND_SOC_TAS5805m is not set

# odroid-vu12 touch
CONFIG_TOUCHSCREEN_GOODIX=y
