# SPDX-License-Identifier: (GPL-2.0+ OR MIT)

menu "I2C Hardware Bus support"
	depends on HAS_IOMEM

config AMLOGIC_I2C
	tristate "Amlogic Meson I2C controller"
	help
	  If you say yes to this option, support will be included for the
	  I2C interface on the Amlogic Meson family of SoCs.

config AMLOGIC_I2C_MESON
	bool "Amlogic Meson I2C controller"
	depends on AMLOGIC_I2C
	help
	  If you say yes to this option, support will be included for the
	  I2C interface on the Amlogic Meson family of SoCs.

config AMLOGIC_I2C_MESON_T6W
	bool "Amlogic Meson I2C T6W controller"
	depends on AMLOGIC_I2C
	help
	  If you say yes to this option, support will be included for the
	  I2C interface on the Amlogic Meson family of SoCs.

config AMLOGIC_I2C_MESON_V2
	bool "Amlogic Meson I2C V2 controller"
	depends on AMLOGIC_I2C
	help
	  If you say yes to this option, support will be included for the
	  I2C interface on the Amlogic Meson family of SoCs after t6x.

endmenu
